 .body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Shivaji01";
  src: url("./assets/fonts/SHIV01_2.TTF") format("truetype");
   font-weight: normal;
  font-style: normal;
}

.shivaji-font {
   font-family: "Shivaji01", "Shivaji 01";
    font-size: 20px; 
  }
  
/* @font-face {
  font-family: "Mangal";
  src: url("./assets/fonts/MANGAL.TTF") format("truetype");
   font-weight: normal;
  font-style: normal;
}

.Mangal {
  font-family: 'Mangal', 'Noto Sans Devanagari', sans-serif;
} */

